/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

  @keyframes pulsetwo {
	0% {
	  color: rgb(9, 1, 51);
	}
	100% {
	  color: rgb(255, 0, 179);
	}
  }
  h3{
	
  }

*{
	
	box-sizing: border-box;
	padding:0;
	margin:0;
	max-width:100%;
	
}


body{
	margin: 0 auto;
	width: 1000px
}
.top{
	positon:fixed;
	margin-bottom:6%;
	background: lightskyblue;
	padding-bottom: 20px;

}

	
.navagation{
	padding-bottom: 20px;
	overflow: hidden;
	background-color: rgb(53, 45, 45);
	position: fixed;
	top: 0;
	width: 40%;
	
}

.navagation a:hover{
	background: rgb(51, 53, 167);
  	color: black;
}
.navagation a{
	
	padding: 2%;
	margin: 10px;
	color: grey;
	text-decoration: none;
}
.header{
	
	
}

	

.innovation{
	
	display: inline-block;
	font-family: 'Bangers', cursive;
	font-size: 75px ;
	width: 20%;
	text-align: center;
	margin-bottom: 75px;
	margin-left: 100px;
	
	margin-right: 200px;
	

	
	
}
.imagetwo{
	display: inline-block;
	
	
}
.getstarted{
	font-size: 20px;
	padding: 5px 50px 5px 50px;
	display: inline-block;
	border: .5px solid black;
	font-family: none;
}




.beforeimg{
	
	border-top: 3px solid black;
	margin-top: 2.5%;
	
}

.features{
	display: inline-block;
	width: 40%;
	padding-top:2%;
	margin-bottom: 30px;
	margin-left: 50px;
	
}
.about{
	display: inline-block;
	width: 40%;
	margin-left: 50px;
}

.imagethree{
	display: block;
	margin-left: 50px;
	margin-right: auto;
	width: 100%;
}

.afterimage{
	margin-top: px;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
	padding: 50px
	
	
}

.services{
	display: inline-block;
	
	width: 33%
	
}
.product{
	display: inline-block;
	
	width: 33%
	
}
.vison{
	display: inline-block;

	width: 33%
	
}
.strech{
	margin-bottom: 50px;
	border-bottom: 2px solid black;
	font-family: 'Calligraffitti', cursive;
	
}
.employees{
	
	display: inline-block;
	width:50%;
	margin-bottom: 20px;
	
}
.subsidiaries{
	

	display: inline-block;
	width: 49%;
}


.address{
	display: inline-block;
	width:15%;
}
.street{
	margin-bottom: 20px
}
.phone{
	margin-bottom: 20px
}
.email{
	margin-bottom: 20px;

}

footer{
	text-align: center;
}
	


















